<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>method</key>
    <string>app-store</string> <!-- or ad-hoc/development as needed -->
    <key>teamID</key>
    <string>8QF5HJCTR8</string> <!-- your Team ID -->
    <key>provisioningProfiles</key>
    <dict>
      <key>com.ficode.helloworld</key>
      <string>ficode_helloworld_distribution</string>
    </dict>
    <key>signingStyle</key>
    <string>manual</string>
    <key>compileBitcode</key>
    <false/>
  </dict>
</plist>
